body.theme-light{ 
    background-color: #eee;
    color: #2c2c2c !important;
    svg{
        fill: #2c2c2c !important;
    }
    .button{
        border: 3px solid #2c2c2c;
        color: #2c2c2c;
        &::after{
            background-color: #2c2c2c;
        }
        &:hover{
            color: #eee;
        }
    }

    profile-pic{
        .corner{
            border-color: #2c2c2c;
        }
    }

    .signature{
        filter: brightness(0);
    }

    .navigation{    
        li{
            >*{
                &::after{
                    background: #2c2c2c !important;
                }
            }
        }
    }

    *::selection{
        background: #2c2c2c;
        color: white;
    }
}