@import '../../../styles/base/variables';
@import '../../../styles/layout/media-queries';

:host{
    position: fixed;
    top: 0;
    height: $app-bar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    padding: 0 10px;
}

.app-bar__left,
.app-bar__right{
    display: flex;
    align-items: center;
    height: 100%;
}

.app-bar__left{
    flex: 1;
}

.signature-container{
    flex: 1;
    height: 100%;
}
.signature{
    height: 100%;
}

.toggle{
    height: $app-bar-height - 5px;
    width: $app-bar-height - 5px;
    padding: 11px 0;
    cursor: pointer;
    svg{
        height: 30px;
        width: 100%;
        fill: white;
    }
}

// Tablet Portrait
@media (max-width: $mq_tp_max){
    
}

// Phone Portrait
@media (max-width: $mq_p_max){
    .signature-container{
        text-align: center;
    }
    .signature{
        display: inline-block;
    }
}

