<div class="app-bar__left">
    <div class="toggle" (click)="onClickNavToggle()" tabindex="0">
        <svg class="lnr lnr-menu"><use xlink:href="#lnr-menu"></use></svg>
    </div>
    <div class="signature-container">
        <img class="signature" src="./assets/img/SignatureTransparent.gif">
    </div>
</div>
<div class="app-bar__right">
    <div class="toggle" (click)="onClickThemeToggle()" tabindex="0">
        <svg class="lnr lnr-sun"><use xlink:href="#lnr-sun"></use></svg>
    </div>
</div>