<div class="container">
  <div class="profile">
    <div class="img-col">
      <profile-pic></profile-pic>
    </div>
    <div class="content">
      <h1>Pedro Lima e Silva</h1>
      <p class="subtitle">Frontend Web Developer</p>
      <p>I'm a passionate Junior Frontend Web Developer, who's always looking for a challenge.</p>
      <p>I also have somewhat of a flair for design and a big crush on snappy animations. Nothing wins me over like a good ease function or a hint of 3D graphics.</p>
      <p>I'm constantly looking for new technologies to learn and put to good use on my ongoing projects.</p>
      <div style="text-align: center;">
        <a class="button" href="./assets/CV.pdf">Download CV</a>
        <a class="button" href="mailto:pedro@limaesilva.pt">Contact Me</a>
      </div>
    </div>
  </div>
</div>