@import '../../../styles/layout/media-queries';
@import '../../../styles/base/variables';

.container{
    display: flex;
    align-items: center;
}

.profile{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - 56px);
    .content{
        flex: 1;
    }
}

.img-col{
    width: 33%;
    transition: width 0.3s 0.3s ease;
}

h1{
    margin: 0;
}
.subtitle{
    margin: 0;
    margin-bottom: 2em;
    font-size: 1.8rem;
}

.button{
    margin: 0 20px 10px;;
}

// Tablet Portrait
@include for-size (tablet-portrait-down){
    .profile{
        flex-direction: column;
        align-items: flex-start;
    }
    .img-col{
        width: 50%;
    }
}

// Phone Portrait
@include for-size (phone-only){
    .img-col{
        width: 100%;
    }
    .button{
        width: 100%;
        margin: 10px 0;
    }
}
