<div class="container" style="margin-top: 25vh">
    <section class="resume-section grid">
        <h1 class="col-4 section-title">Technologies</h1>
        <div class="col-4">
            <h3>Day to day comfort</h3>
            <ul>
                <li>HTML5</li>
                <li>SASS / CSS3</li>
                <li>Javascript / jQuery</li>
                <li>SASS / CSS3</li>
                <li>Angular</li>
                <li>VueJS</li>
                <li>Outsystems</li>
                <li>JAVA</li>
                <li>C</li>
            </ul>
        </div>
        <div class="col-4">
            <h3>Experience with</h3>
            <ul>
                <li>React JS</li>
                <li>Node.js</li>
                <li>C#</li>
            </ul>
        </div>
    </section>

    <section class="resume-section grid">
        <h1 class="col-4 section-title">Work Experience</h1>
        <div class="col-8">
            <h3>Frontend Web Developer</h3>
            <p class="subtitle"><a href="https://www.flytap.com/">TAP Air Portugal</a>, August 2017 - Present</p>
            <p class="description">
                As a member of the User Experience Design team, several web internal projects' initial frontend templates
                and interaction funcionality were of my responsibity. Different technologies were used for further
                integration with other technological teams. Some examples are Handlebars, Outsystems and VueJS.
            </p>
            <h3>Lead Frontend Web Developer</h3>
            <p class="subtitle"><a href="https://www.a-to-be.com/">A-to-Be</a>, March 2017 - July 2017</p>
            <p class="description">
                In my first contact with the SCRUM methodology, I had the opportunity to lead a small team of frontend
                developers on an innovating project at A-to-Be which was starting off.
            </p>
            <h3>Junior Frontend Web Developer</h3>
            <p class="subtitle"><a href="https://www.hi-interactive.com/">Hi INTERACTIVE</a>, February 2017 - March 2017</p>
            <p class="description">
                Participated in small frontend projects with different Hi INTERACTIVE clients.
            </p>
        </div>
        
    </section>

    <section class="resume-section grid">
            <h1 class="col-4 section-title">Education</h1>
            <div class="col-8">
                <h3>Computer Science Bachelor's Degree at FCT - NOVA</h3>
                <p class="subtitle"><a href="https://www.fct.unl.pt/">FCT - NOVA</a>, March 2014 - December 2017</p>
                <p class="description"></p>

                <h3>Engineering Physics Bachelor's Degree at FCT - NOVA (dropped out)</h3>
                <p class="subtitle"><a href="https://www.fct.unl.pt/">FCT - NOVA</a>, September 2012 - December 2013</p>
                <p class="description">
                    After realising the few subjects I was excelling at were Computer Science related, I decided to change
                    to Computer Science.
                </p>
            </div>
            
        </section>
</div>